@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-size: 62.5%; /* 1rem = 10px */
}

:root{
    --black: #1C232B;
    --grey: #6C7289;
    --cream: #F2EAE2;
    --white: #FFFFFF;
    --green-500: #3D8168;
    --green-700: #1A4032;

    --space-500: 4rem;
    --space-400: 3.2rem;
    --space-300: 2.4rem;
    --space-200: 1.6rem;
    --space-100: 0.8rem;
    --space-50: 0.4rem;
    --font-fraunces: 'Fraunces', serif;
    --font-montserrat: 'Montserrat', sans-serif;
}


.text-preset-1 {
        font-family: var(--font-fraunces);
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 1;
        letter-spacing: 0px;
}

.text-preset-2 {
    font-family: var(--font-montserrat);
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.1;
    letter-spacing: 0px;
}

.text-preset-3{
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: 0px;
    }

.text-preset-4{
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.2;
    letter-spacing: 5px;
}

.text-preset-5{
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.2;
    letter-spacing: 0px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* ::before, ::after{
    box-sizing: inherit;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
}

body {
    background-color: var(--cream);
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main{
    background-color: var(--white);
    width: 35rem;
    border-radius: 0.8rem;
    overflow: hidden;
}

.image-container img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.info-section {
    padding: var(--space-400);
    display: flex;
    flex-direction: column;
    gap: var(--space-300);
}

.info-section h1 {
    color: var(--black);
}

.info-section h4 {
    color: var(--grey);
}

.product-description {
    color: var(--grey);
}
.pricing {
    display: flex;
    align-items: center;
    gap: var(--space-200);
}
.pricing  .current-price{
    color: var(--green-500);
}
.original-price{
    color: var(--grey);
    text-decoration: line-through;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-200) var(--space-400);
    color: var(--white);
    background-color: var(--green-500);
    gap: var(--space-100);
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
}

button img{
    height: 1.8rem;
}

button:hover{
    background-color: var(--green-700);
    transition: all ease-in-out 0.2s;
}

@media (min-width: 768px) {
    main{
        width: 60rem;
        display: flex;
        flex-direction: row;
        border-radius: 0.8rem;
    }

    .image-container, .info-section {
        flex: 0 0 50%;
    }

    .image-container img {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .info-section {
        gap: var(--space-400);
    }

}
